.container {
  height: 500px;
  margin: 100px auto;
  width: 700px;
}

.cell {
  background-color: #2980b9;
  background-size: contain;
  border: 1px solid white;
  box-sizing: border-box;
  border-radius: 20px;
  float: left;
  height: 70px;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  background-color: #e67e22;
}